body {   
    font-family: "Open Sans", Helvetica, Sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    }

a {
    color: inherit;
}

ul{
padding: 0;
margin: 0;
}

ul, li {
    list-style: none;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.body, html {
    height: 100%;
}

.wrapper{
    display: flex;  
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.main-page-wrapper{
    background: url("./air-asia/images/bg/hero.jpg") center top no-repeat, url("./air-asia/images/bg/bottom-pic.jpg") center bottom no-repeat;
}



.header {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col{
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    width: 98px;
    height: 42px;
    margin-right: 100px;
}
img.logo__img {
    max-width: 100%;
}

.central__logo{
    margin-bottom: 15px;
    max-width: 75%;
}