.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("./air-asia/images/bg/screen.jpg") center bottom / cover no-repeat;
}

.welcome__container {
    background: url("./air-asia/images/decor/shades.png") center no-repeat;
    background-size: 562px 176px;
    background-position-y: 25%;
    overflow: visible;
}